<h1 class="splash-title">Hello, World! Its me, Julianne!</h1>
<h4 class="splash-title">...and this is my blog.</h4>

<div id="Fader" class="fader">
	<img class="slide" src="http://big-sur-lodging.com/Big-Sur-California-Visitor-Guide/Pacific-Coast-Highway-Photo-Tour/photos_Big_Sur_CA_PCH-1_Vacation/Widescreen_Wallpaper_Big_Sur_McWay_Falls_1280x960.jpg"/>
	<img class="slide" src="http://4.bp.blogspot.com/-Heb8UdGiSiU/UIriNHex0-I/AAAAAAAAjjk/QSrKjFd_GWo/s1600/otter_cliff_acadia_national_park_maine_us.jpg"/>
	<img class="slide" src="http://www.mrwallpaper.com/wallpapers/Spring-Blossom-Sunshine-1280x960.jpg"/>

	<div class="fader_controls">
		<div class="page" data-target="prev"></div>
		<div class="page" data-target="next"></div>
		<ul class="pager_list"></ul>
	<!--<div class ="slide" id="splash-pic">
		<img src="http://4.bp.blogspot.com/-Heb8UdGiSiU/UIriNHex0-I/AAAAAAAAjjk/QSrKjFd_GWo/s1600/otter_cliff_acadia_national_park_maine_us.jpg", class="img-rounded" height="500" width="600">
	</div>-->
	<!--<div class="slide"></div>
	<div class="slide"></div>-->
</div>