<h1 class="splash-title">Hello, World! Its me, Julianne!</h1>
<!--<%= link_to 'Read my ramblings here!', controller: 'articles' %><br>-->
<br>
<div class="splash-pic">
	<img src="http://4.bp.blogspot.com/-Heb8UdGiSiU/UIriNHex0-I/AAAAAAAAjjk/QSrKjFd_GWo/s1600/otter_cliff_acadia_national_park_maine_us.jpg", class="img-rounded" height="500" width="600">
</div>

