@import 'bootstrap';

.splash-title {
	font-family: "The Girl Next Door", cursive;
	text-align: center;
	-webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}

.fader {
	background-size: 100%;
	position: relative;
	padding-top: 45%;
	overflow: hidden;
	border-radius: .5%
}

.fader .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	opacity: 0;
}

.fader img.slide {
	height: auto;	
}

.fader .prev,
.fader .next {
	position: absolute;
  	height: 80px;
  	line-height: 55px;
  	width: 50px;
  	font-size: 100px;
  	text-align: center;
  	color: #fff;
  	top: 50%;
  	left: 0;
  	z-index: 4;
  	margin-top: -25px;
  	cursor: pointer;
  	opacity: .6;
  	transition: all 150ms;
}

.fader .prev:hover,
.fader .next:hover{
  opacity: 1;
}

.fader .next{
  left: auto;
  right: 0;
}

.fader .pager_list{
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  text-align: center;
  z-index: 4;
}

.fader .pager_list li{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background: #fff;
  opacity: .7;
  text-indent: -999px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 150ms;
}

.fader .pager_list li:hover,
.fader .pager_list li.active{
  opacity: 1;
}

#splash-pic {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#article-header {
	font-family: "The Girl Next Door", cursive;
	text-align: center;
	-webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}

.styled-title {
	font-family: "The Girl Next Door", cursive;
	text-align: center;
}


.styled-title-bold {
	font-family: "The Girl Next Door", cursive;
	/* NON-NORMAL WEIGHTS NOT SUPPORTED FOR CURRENT FONT TYPE*/
	font-weight: bold;
}


.styled-error {
	font-family: "The Girl Next Door", cursive;
	text-align: center;
	color: red;
}

.create-wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.nav-tabs > li, .nav-pills > li {
	float: none;
	display: inline-block;
}

.nav-tabs {
	text-align: center;
	background: white;
	opacity: .95;
}

.comment-shade {
	background-color: #F7EFF6;
	border-radius: 5%;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}
/*
.recent-comm {
	background-color: #F7EFF6;
	border-radius: 5%;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	-webkit-animation: fadein 3s; 
       -moz-animation: fadein 3s; 
        -ms-animation: fadein 3s; 
         -o-animation: fadein 3s; 
            animation: fadein 3s;
}*/

ul{
	list-style-type: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
/*wierd hack to work around rails complaining about no "{" after the @fades */
{}
